<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
  <%
		if(pass == 1)
		{ %>
			<script type="text/javascript">    <!-- 아이디 미존재 -->
				alert('충전 완료!\n현재 금액 <%= point%> Point');
        self.close();
			</script>
		<%
	}%>
  <div class="container">
    <h4>포인트 충전</h4>
    <center>
      <!-- 포인트 충전 form -->
      <form action="/customer/point_charge/charge" method="post">
      <div class="money">
        <table class="table">
          <tr>
            <td>현재 포인트</td>
            <td><%= point%></td>
          </tr>
          <tr>
            <td>충전할 포인트</td>
            <td><input type="number" name="point" min=10000 step=10000 value="point"></td>
          </tr>
        </table>
      </div>
      <button type="submit">충전</button>
      </form>
    </center>
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
